.post .post-content > table tr:nth-child(even) {
  background-color: lightblue;
}
.post .post-content > table td {
  background-color: transparent;
}
.post .post-content > table td:nth-child(3) {
  transform: scale(2);
  color: green;
  font-weight: bold;
  text-align: center;
}
.post .post-content > table td:nth-child(1) {
  width: 70%;
}
.post .post-content > table th {
  background-color: paleturquoise;
  color: black;
}
