.post .post-content > table tr:nth-child(even) {
  background-color: rgb(245, 246, 246);
}
.post .post-content > table td {
  background-color: transparent;
}
.post .post-content > table tr:hover{
  background-color: rgb(206, 232, 248);
}
.post .post-content > table td:nth-child(3) {
  transform: scale(2);
  color: green;
  font-weight: bold;
  text-align: center;
}
.post .post-content > table td:nth-child(1) {
  width: 70%;
}
.post .post-content > table th {
  background-color: paleturquoise;
  color: black;
}
.post .post-content code{
  background: transparent !important;
}