{{- /* Search is per-language; hide confusing "Translations: Zh" on /search/ */ -}}
{{- if eq .Layout "search" -}}
{{- return -}}
{{- end -}}

{{- if .IsTranslated -}}
    {{- if or (.Param "author") (.Param "ShowReadingTime") (not .Date.IsZero) }}
        {{- printf "&nbsp;|&nbsp;" | safeHTML -}}
    {{- end -}}
    <span>{{- i18n "translations" | default "Translations" }}:</span>
    <ul class="i18n_list">
        {{- range .Translations }}
        <li>
            <a href="{{ .Permalink }}">
                {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
                {{- .Language.LanguageName | emojify -}}
                {{- else }}
                {{- .Lang | title -}}
                {{- end -}}
            </a>
        </li>
        {{- end }}
    </ul>
{{- end -}}
