.gradient-button {
  margin: 10px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(66, 45, 182);
  box-shadow: 0 0 20px #eee;
  text-decoration: none;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}
.gradient-button-2 {
  background-image: linear-gradient(
    to right,
    #2bc0e4 0%,
    #eaecc6 51%,
    #2bc0e4 100%
  );
}
.gradient-button-2:hover {
  background-position: right center;
}

* {
  box-sizing: border-box;
}
body {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.wrp {
  height: 80vh;
  width: 80%;
}
.wrp svg {
  height: 100%;
  width: 100%;
}
.wrp svg * {
  transform-origin: center;
  transform-box: fill-box;
}
.wrp svg .swet,
.wrp svg .debre,
.wrp svg .flash,
.wrp svg #paper1 {
  opacity: 0;
}
